@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  position: relative;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
body.active {
  overflow: hidden;
}
.create-input::placeholder {
  font-weight: 600;
  font-size: 1.3rem;
}

#msg::placeholder {
  font-size: 1.2rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#chat::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#chat {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#sidebar {
  transition: all 500ms ease;
}
#sidebar.active {
  transform: translateX(0);
}
#auth-wrapper form input::placeholder {
  color: #626262;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 32rem;
}

.search:focus {
  outline: none;
}

  
#alert-danger {
  background: rgba(255, 0, 0, 0.678);
}
.delete {
  background: rgba(255, 0, 0, 0.678);
}
#alert-success {
  background: #21a0a0;
}
.custom-underline{
  position:relative;
  z-index:100;
}
.custom-underline::after {
  z-index: 1;
  bottom: 4px;
  left: 0px;
  position:absolute;
  content: "";
  width: 0px;
  height: 5px;
  background-color: #e9c46a;
  transition: 200ms ease-in-out;
}

.custom-underline:hover::after {
  width: 100%;
}

#ham-wrapper .ham {
  transition: all 500ms ease;
}

/* #ham-wrapper.active .ham:nth-child(1) {
  top: 43%;
}
#ham-wrapper.active .ham:nth-child(3) {
  top: -43%;
}
#ham-wrapper.active .ham:nth-child(2) {
  opacity: 0;
}

#ham-wrapper.rotate .ham:nth-child(1) {
  transform: rotate(-45deg);
}
#ham-wrapper.rotate .ham:nth-child(3) {
  transform: rotate(45deg);
} */
.ham {
  width: 2rem;
  height: 0.25rem;
  position: relative;
  background-color: #626262;
  transition: all 200ms ease;
  margin-bottom: 6px;
}

.ham::before {
  transition: all 300ms ease;

  content: "";
  width: 2rem;
  position: absolute;
  top: -10px;
  left: 0;
  height: 0.25rem;
  background-color: #626262;
  margin-bottom: 6px;
}

.ham::after {
  content: "";
  transition: all 300ms ease;
  width: 2rem;
  position: absolute;
  top: 10px;
  left: 0;
  height: 0.25rem;
  background-color: #626262;
  margin-bottom: 6px;
}

#ham-wrapper.active .ham::before {
  top: 0;
}

#ham-wrapper.active .ham::after {
  top: 0;
}

/* #ham-wrapper.rotate .ham::before {
  transform: rotate(45deg);
} */

#ham-wrapper.rotate .ham::after {
  transform: rotate(-90deg);
}

#ham-wrapper.rotate .ham {
  transform: rotate(-45deg);
}
